.container {
    background-color: rgb(212, 217, 217);
}

.flickity {
    overflow: hidden;
    height:100%
}

.partner_image {
    width: 100%;
    height:auto;
}
.title {
    margin-left: 45%;
}

.partner_info {
    margin-left: 40%;
}