.container {
    background-color: rgb(212, 217, 217);
}


.flickity {
    overflow: hidden;
    height:100%
}

.project_image {
    width: 100%;
    height:auto;
}

.project_info {
    margin-left: 40%;
}